<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderApp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCA_lCPKbVHYFnYg_yQLucEe8bMqo3j0Qw" />

        <activity
            android:name=".Activities.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddNewFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrderActivity"
            android:exported="false" />
        
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true" />
        <activity android:name=".Activities.OrderHistoryActivity"/>
        <activity android:name=".Activities.OrderDetailActivity"/>
        <activity android:name=".Activities.OrderHistoryAdminActivity"/>
        <activity android:name=".Activities.NotificationActivity"/>
        <activity android:name=".Activities.MapsActivity"/>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>